.jumbotron {
text-align: center;
}

.tic-tac-block {
  width: 32%;
  height:200px;
  display: inline-block;
  border: 1px black solid;
  margin: .25em;
  float: left;
  font-size: 28px;
  text-align: center;
  padding-top: 6%;
}

.tic-tac-toe {
  margin-left: 2%;
}
